@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'Horizon';
  src: url('fonts/Horizon-nMeM.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body{
  margin: 0;
  padding: 0;
  background:#FAF7F0;
  overflow-x: hidden;
  max-width: 100vw;
}
header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  background-image: url('../img/header.png');
  background-repeat: no-repeat; /* Evita repetição */
  width: 100%;
  height: 800px;
  background-size: cover;
  background-position: center;
  padding-top: 120px;
  padding-bottom: 130px;
}

.miolo{
  max-width: 1200px; /* Limita a largura máxima do bloco de texto */
  width: 100%;       /* Garante que em telas pequenas ele não cole nas bordas */
  text-align: center;
  padding: 3%;
  /* border: 1px solid red; */
}

.miolo h1{
  font-family:'horizon';
  color: #2F4E3E;
  font-size: 65px;
  line-height: 50px;
  margin-bottom: -5px;
  font-weight: 100;
}

.miolo h3{
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #2F4E3E;
  margin-bottom: 40px;
}


.btn-header{
  font-family:'horizon';
  font-size: 30px;
  color: white;
  width: 100%;
  height: 60px;
  background: #2F4E3E;
  text-decoration: none;
  padding: 20px 150px 20px 150px;
  border-radius: 50px 0px;
}

.folhasright{
  position: absolute;
  top: 300px;
  right: -50px; /* Para invadir a próxima seção */
  width: 500px;
  height: auto;
  z-index: 1; /* Pode diminuir se quiser que fique atrás de textos */
  overflow-x: hidden; /* impede scroll horizontal */
}

.folhastop{
  position: absolute;
  top: 0px; 
  left: -40px; /* Negativo para ultrapassar a borda da tela */
  width: 400px;
  height: auto;
  z-index: 10; /* Mesmo z-index para sobrepor as seções */
  overflow-x: hidden; /* impede scroll horizontal */
}

.folhasleft{
  position: absolute;
  top: 950px; 
  left: -40px; /* Negativo para ultrapassar a borda da tela */
  width: 550px;
  height: auto;
  z-index: 10; /* Mesmo z-index para sobrepor as seções */
  overflow-x: hidden; /* impede scroll horizontal */
}


.sessao2{
  position: relative; /* ESSENCIAL para que as folhas fiquem limitadas à section */
  text-align: center;
  background: #FAF7F0;
  overflow: visible; /* Para permitir que as folhas ultrapassem a borda da section */
  margin-bottom: 100px;
}

.sessao2 h2 {
  font-size: 70px;
  font-weight: 100;
  font-family:'horizon';
  color: #2F4E3E;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  align-items: stretch; /* NOVO: faz os cards terem mesma altura */
}

.card{
  position: relative; /* Para que o texto absoluto se posicione em relação ao card */
  background: #FAF7F0;
  /* border: 1px solid red; */
  border-radius: 50px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  width: 100%;
  height: 100%;
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover; /* Faz a imagem ocupar bem o espaço */
  display: block;
}

.card-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  color: #2F4E3E;
  text-align: center; /* Centraliza o texto */
}

.card-content h3 {
  font-size: 45px;
  font-family: 'horizon';
  line-height: 1.0;
  margin: 0 0 20px 0;
  color: #2F4E3E;
}

.card-content p {
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  margin: 10px 28px 20px 28px;
  line-height: 1.2;
  color: #2F4E3E;
}

.sessao3{
  display: flex;
  position: relative;
  overflow: hidden;
  align-items: center;
  justify-content: flex-start; /* conteúdo encostado à esquerda */
  padding: 140px 60px 150px 100px; /* top, right, bottom, left */
  background-image: url('../img/fotomeio.png');
  background-size: contain; /* Mostra a imagem inteira */
  background-size: cover; /* OU */
  background-repeat: no-repeat; /* Evita repetição */
  background-position: center;
  width: 100%;
  min-height: 100vh; /* Altura mínima de uma tela inteira */
}

.sessao3 h2{
  font-size: 55px;
  font-family: 'horizon';
  line-height: 1.0;
  margin-bottom: 40px;
  color: #2F4E3E;
}

.listas{
  background: #2F4E3E;
  margin-bottom: 30px;
  padding: 30px;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  color: white;
  border-radius: 50px 0px 50px 0px;
}


.conteudo-sessao3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* alinha título e listas pela esquerda */
  max-width: 800px;
}

ul {
  padding: 0;
  margin: 0;
}

.folhass3{
  position: absolute;
  bottom: -100px;
  right: -50px;
  width: 600px;
  height: auto;
  z-index: 1;
  overflow-x: hidden;

}

.sessao4{
  position: relative; /* ESSENCIAL para que as folhas fiquem limitadas à section */
  text-align: center;
  background: #FAF7F0;
  overflow: visible; /* Para permitir que as folhas ultrapassem a borda da section */
  margin-bottom: 30px;
}

.sessao4 h2{
  font-family: 'horizon';
  color: #2F4E3E;
  font-size: 60px;
  text-align: center;
}
.cards-s4 {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.card-s4 {
  background: #FAF7F0;
  border-radius: 3px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 300px; /* DEFINIDO para o layout funcionar */
  height: auto;
  position: relative;
}

.card-contents4{
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
}

.card-contents4 p {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  color: #FAF7F0;
}

.card-s4 img {
  width: 100%;
  height: auto;
  display: block;
}

.btn-s4{
  font-family: 'horizon';
  font-size: 30px;
  color: white;
  background: #2F4E3E;
  text-decoration: none;
  padding: 10px 150px;
  border-radius: 50px 0px;
  display: inline-block;
  margin: 20px 20px 80px 20px;
  width: auto;
}

.sessao5{
  background: #FAF7F0;
  text-align: center;
  padding: 80px 20px;
  position: relative;

}

.box-s5{
  position: relative;     /* necessário para que a imagem fique relativa à box */
  max-width: 900px;
  margin: 0 auto;
  background: #DBDDBF;
  padding: 30px 150px 70px 150px;     /* Diminui o padding para evitar quebra de layout */
  border-radius: 0px 50px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  z-index: 1;             /* Para garantir que esteja acima da imagem */
}

.box-s5 p{
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  color: #2F4E3E;
  margin-top: 0px;
}

.box-s5 h2{
  font-family: 'horizon';
  font-size: 50px;
  color: #2F4E3E;
  margin-bottom: 10px;
}

.btn-s5 {
  display: inline-block;
  font-family: 'horizon';
  font-size: 30px;
  color: white;
  background: #2F4E3E;
  padding: 20px 80px;
  border-radius: 50px 0;
  text-decoration: none;
  white-space: nowrap; /* Evita quebra */
}

.folhas-s5 {
  position: absolute;
  top: -100px;              /* Mais alto */
  left: 0;                /* Alinhada à esquerda */
  width: 900px;           
  z-index: 0;         
  max-height: 90%;
  overflow: hidden;  
  pointer-events: none;  
}

body {
  overflow-x: hidden;
  position: relative;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  background: #fdfaf2; /* mesma cor do seu site, opcional */
}

footer {
  margin: 0;
  padding: 20px 0;
  text-align: center;
  background-color: #2f4f3f;
  color: white;
  position: relative;
  z-index: 10;
}

footer p{
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

